:root {
    --mydark: #393E46;
    --mylight: #AAD8D3;
    --mywhite: #EEEEEE;
    --mybtn: #00ADB5;
}
body{
    margin: 0;
    background-color: var(--mywhite);
}
.app{
    min-height: 100vh;
}
.app-dark{
    background-color:var(--mydark);
}
.app-light{
    background-color:var(--mywhite) ;
}